{%extends"base.html.twig"%}

{% block title%}
{{parent()}}
- Edit{% endblock%}
{% block titre%}
{{parent()|upper}}
- consultation
{{job.getType()}}{% endblock%}
{% block body %}
	<h1>
		entrprise
		{{ job.getCompany()}}</h1>
	<h2>
		Date d'expiration :
		{{ job.getExpiresAt() | date('d-m-Y')}}</h1>
	<h3>Image</h3>
	{% if job.Image is not null %}
		<img src="{{job.image.url}}" height="100">
	{% endif %}
	<h3>Candidatures</h3>
	<ul class="nav nav-pills nav-stacked">
		{% for Candidature in listCandidatures %}
			<h4>Candidat
				{{Candidature.id}}</h4><br>
			<li>{{Candidature.candidat}}</li>
			<li>{{Candidature.contenu}}</li>
			<li>{{Candidature.dateC | date('d-m-Y')}}</li>
		{% endfor %}
	</ul>
{% endblock %}
